
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-moz-selection {
  /* Code for Firefox */
  color: #000000;
  background:rgba(179, 214, 237, 0.192);
}

::selection {
  color: #000000;
  background:rgba(179, 214, 237, 0.192);
}

::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgba(75, 133, 172, 0.318);
  border-radius: 20px;
}
